body {
  margin: 0;
}
header {
  background-color: #418cca;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
li:hover {
  background-color: white;
  color: black
}
.heroImg {
  background-color: #EBEBEB;
  padding: 100px 15px;
  /*background-image: url("../images/AP images/portfolio-site-map.jpeg");*/
  background-image: url("../images/AP images/Background\ image.png");
  border: 1px solid black;
  background-size: cover;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #55a2e2;
  text-align: center;
  border: 3px solid black;
}
.content img {
  align-items: center;
  max-width: 300px;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
button:hover {
  background-color: rgb(180, 180, 180);
  color: black;
}
footer {
  background-color: #373738;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
.heading {
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
  
}
/* My UX Skills Section */
.uxSkills {
  background-image: linear-gradient(#55a2e2, rgb(148, 235, 130));
  margin: 0px;
}

.flexContainer {
  display: flex;
  background-color: rgb(148, 235, 130);
  padding: 60px 30px;
}
.flexContainer div {
  width: 33%;
  padding: 25px;
}
.flexContainer img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 200px;
}

/* My Work Section */
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: #5c2c2c;
}
.myWork .heading {
  color: #55a2e2;

}
.workGrid {
  display: grid;
  background-color: #EBEBEB;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  ;
}
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
  padding: 80px;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
}
